<!DOCTYPE html>
<html lang="sr" ng-app="accountModule">
	<head>
		<title> MАТФ Дежурства </title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8;" />
				<script type="text/javascript" src="js/jquery-1.11.2.min.js"> </script>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/angular.js"></script>
		<script type="text/javascript" src="js/assistant.js"></script>
		<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
		<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"> 
		<link rel="stylesheet" type="text/css" href="css/me.css"> 
	</head>
	
	<body>
	<div id="content">
		<div id="tab-container">
			<section ng-init="tab = 1">
				<ul class="nav nav-pills nav-stacked">
					<li ng-class="{ active:tab === 1}" > <a href ng-click="tab = 1">Дежурства</a></li>
					<li ng-class="{ active:tab === 2}" > <a href ng-click="tab = 2">Најављивање обавеза</a></li>
					<li ng-class="{ active:tab === 3}" > <a href ng-click="tab = 3">Претходна дежурства</a></li>
					<li ng-class="{ active:tab === 4}" > <a href ng-click="tab = 4">Подешавање налога</a></li>
				</ul>
			</section>
		</div>
		
		<div id="main-container">
				<div id="top" >
					<button class="btn btn-primary" type="button" ng-click="tab = 5">
					Обавештења <span class="badge"></span>
					</button>
					
					<div id="log_out">
						<a href="" id="imeIprezime" >Име и презиме</a>
						<button class="btn btn-primary" type="button" > Одјава </button>
					</div>
				</div>

				<div ng-show="tab === 1">			
			  	<div class="forme_dezurstava" ng-controller="SecDutyController ">
						<p class="imenaFormi"> Споредна дежурства </p>
						<div class="kartica" ng-repeat="dezurstvo in duty">
							<div class = "header" >
								<span> <b> {{ dezurstvo.course }} </b></span> 
							<a title="Покушај замену" href="#" ng-click="toggle()"><span id="grafZamena" class="glyphicon glyphicon-refresh"></span></a><br />
								<span> {{dezurstvo.assistant}} </span> 
								<br/>
									<ul id="zamena_asistenti" toggle>
										<li ng-repeat = "zamena in possibleRotate"><a> {{zamena}} </a></li>
									</ul> 
							</div>
							<div class = "bodyCard">
								<span> Датум: {{dezurstvo.date }}, {{dezurstvo.time}} </span> <br/>
								<span> Учионица: {{dezurstvo.classroom}} </span> <br/>
								<span> Напомена:</span> <br /><textarea class="napomena" rows="1" disabled>{{dezurstvo.remark}}</textarea> 
							</div> 
						</div>   <!-- div kartica -->
					</div>	<!-- div sporedna forma dezurstva -->
					
			
					<div class="forme_dezurstava" ng-controller="PrimDutyController ">
						<p class="imenaFormi"> Главна дежурства </p>
						
						<div class="kartica" ng-repeat="dezurstvo in duty" >
						
						 <div class="tabbable">
						  <ul class="nav nav-tabs">
						    <li class="active"><a href="#1" data-toggle="tab">Основно</a></li>
						    <li><a href="#2" data-toggle="tab">Поруке</a></li>
						    <li><a href="#3" data-toggle="tab">Коментари</a></li>
						  </ul>
						  <div class="tab-content">
						   <div class="tab-pane active" id="1">  
								 	<div class = "header">
									<span> <b> {{dezurstvo.course}} </b></span>
									<button title="Откажи обавезу" type="button" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button><br/>
									</div>
								<div class = "bodyCard">
									<span> Датум: {{ dezurstvo.data }}, {{ dezurstvo.date }}h </span> <br/>
									<span> Учионице: {{ dezurstvo.classroom }} </span> <br/>
									<span> Асистенти:</span>
									<ol>
										<li ng-repeat="asistent in dezurstvo.assistants"><a href="">{{ asistent }}</a></li>
									</ol>
									<span> Напомена: {{ dezurstvo.remark }} </span>
									<a title="Додај напомену" href="#" ><span id="grafDodaj" class="glyphicon glyphicon-plus"></span></a>
								</div>
						   </div>
						   <div class="tab-pane" id="2"> .. </div>
						   <div class="tab-pane" id="3">  ..</div>
						  </div>
						</div>
						
						 
						</div>  <!-- div kartica -->
					</div> <!-- forma dezirstva glavna -->

				</div> <!-- Kraj div-a dezurstvo -->

<!-- tab za najavljivanje obaveze: -->

				<div ng-show="tab === 2">
					<div class="forme_dezurstava" ng-controller="NewDutyController">
						<p class="imenaFormi"> Заказивање обавезa</p>
				
						<form name="fZakazivanje" class="form-horizontal">
	      		<fieldset>
	

						<div class="form-group">
							<label for="selectSmer" class="col-lg-2 control-label">Група/Смер</label>
							<div class="col-lg-10">
								<select class="form-control" ng-model="smer" ng-required="true">
									<option selected="selected"></option>
									<option ng-repeat="smer in departure"> {{smer}} </option>
								</select>
							</div>
						</div>


						<div class="form-group" >
							<label for="selectPredmet" class="col-lg-2 control-label">Предмет</label>
							<div class="col-lg-10">
								<select class="form-control" ng-model="predmet" ng-required="true">
									<option selected="selected"></option>
									<option ng-repeat="predmet in course"> {{predmet}} </option>
								</select>
							</div>
						</div>
						
						
						<div class="form-group">
							<label for="selectDatum" class="col-lg-2 control-label">Датум одржавања</label>
							<div class="col-lg-10">								
								<div class='input-group date' id='datetimepicker5'>
									<input type='text' class="form-control" data-date-format="YYYY/MM/DD" placeholder="Датум" ng-model="datum" ng-required="true">
									<span class="input-group-addon">
										<span class="glyphicon glyphicon-calendar"></span>
									</span>
								</div>
							</div>
						</div>
						
						
						<div class="form-group">
							<label for="timepicker1" class="col-lg-2 control-label">Време(од-до)</label>							
							<div class='col-lg-5'>
              	  <div class='input-group date' id='timepicker1'>
                    <input type='text' class="form-control" ng-model="vremeOd" placeholder="Од" ng-required="true">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span>
                    </span>
           	 			</div>
        			</div> 
        			<div class='col-lg-5'>
              	  <div class='input-group date' id='timepicker2'>
                    <input type='text' class="form-control" ng-model="vremeDo" placeholder="До" ng-required="true">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span>
                    </span>
           	 			</div>
        			</div>
						</div>
						
						
						<div class="form-group">
							<label  class="col-lg-2 control-label">Потребне учионице</label>
							<div class="col-lg-10">
								<label class="checkbox-inline" ng-repeat="ucionica in classrooms">
									<input type="checkbox" ng-change="sync(bool, ucionica, 'c')" ng-model="bool" ng-checked="isChecked(ucionica, 'c')"> {{ucionica}}
								</label>
							</div>
						</div>
						
						
						<div class="form-group">
							<label  class="col-lg-2 control-label">Број студената</label>
							<div class="col-lg-10">
		    				<input type="text" class="form-control" name="brStudenata" ng-model="brStudenata" placeholder="Очекивани број студената" ng-required="true" ng-pattern="/^[0-9]+$/">
		  				</div>
						</div>
						
						
						<div class="form-group">
							<label  class="col-lg-2 control-label">Број асистената</label>
							<div class="col-lg-10">
		    				<input type="text" class="form-control" name="brAsistenata" ng-model="brAsistenata" placeholder="Број потребних асистената" ng-required="true" ng-pattern="/^[0-9]+$/">
		  				</div>
						</div>
						
						
						<div class="form-group ">
							<label  class="col-lg-2 control-label">Преферирани асистенти</label>
							<div class="col-lg-10">
								<label class="checkbox-inline" ng-repeat="asistent in assistants" >
									<input type="checkbox" ng-change="sync(bool, asistent, 'a')" ng-model="bool" ng-checked="isChecked(asistent,'a')"> {{asistent}}
								</label>
							</div>
						</div>
						<div class="form-group">
		  				<div class="col-lg-10 col-lg-offset-2">
		    				<input type="reset" class="btn btn-default" value="Поништи" />
		    				<input type="submit" class="btn btn-primary" value="Пошаљи" ng-disabled='!fZakazivanje.$valid'/>
		  				</div>
						</div>
						
			      </fieldset>
				    </form>
						
					</div> <!-- div forma dezurstava -->
				</div> <!-- div najavljivanje obaveza -->
				

				
				<div ng-show="tab === 3">
					<div class="forme_dezurstava" ng-controller="CompletedDutyController">
						<p class="imenaFormi"> Претходна дежурства </p>
							
	      			<div class="kartica" ng-repeat="obaveza in compDuty">
							<div class = "header">
								<span> <b> {{obaveza.course}} </b></span> 
								<br/>
							</div>
							<div class = "bodyCard">
								<span> Датум: {{obaveza.date}}, {{obaveza.duration}} </span> <br/>
							</div> 
						</div>
	      			
	  			</div>
				</div> <!-- div realizovanih obaveza -->
				
				
				<div id="podesavanjeNaloga" ng-show="tab === 4">
					<div class="forme_dezurstava">
						<p class="imenaFormi"> Подешавање налога </p>
						<form class="form-horizontal">
	      		<fieldset>
	      			
	      			<div class="form-group col-lg-10" ng-init="view = 0">
								<div class="radio">
									<label>
										<input ng-click="view = 1" type="radio" name="optionsRadios" checked> Промена шифре
									</label>
								</div>		
								<form class="form-horizontal" ng-show="view === 1" >
								<fieldset>
									<div class="col-lg-10">
										<br/>
										<label class="col-lg-2 control-label">Стара шифра</label>
										<div class="col-lg-10">
				  						<input type="password" class="form-control" placeholder="Стара шифра">
										</div>
									</div>
									<div class="col-lg-10">
										<br/>
										<label class="col-lg-2 control-label">Нова шифра</label>
										<div class="col-lg-10">
				  						<input type="password" class="form-control" placeholder="Нова шифра">
										</div>
									</div>
									<div class="col-lg-10">
										<br/>
										<label class="col-lg-2 control-label">Поновите шифру</label>
										<div class="col-lg-10">
				  						<input type="password" class="form-control" placeholder="Поновљена шифра">
										</div>
									</div>									
									
									<div class="form-group">
										<div class="col-lg-10 col-lg-offset-2">
											<button type="reset" class="btn btn-default" >Поништи</button>
											<button type="submit" class="btn btn-primary">Потврди</button>
										</div>
									</div>
								</fieldset>
								</form>

								
								<div class="radio">
									<label>
										<input ng-click="view = 2" type="radio" name="optionsRadios"> Промена е-маил адресе
									</label>
								</div>
								<form class="form-horizontal" ng-show="view === 2" >
								<fieldset>
									<div class="col-lg-10">
										<br/>
										<label class="col-lg-2 control-label">Нова е-маил адреса</label>
										<div class="col-lg-10">
											<input type="email" class="form-control" placeholder="Нова е-маил адреса">
										</div>
									</div>
									
									<div class="form-group">
										<div class="col-lg-10 col-lg-offset-2">
											<button type="reset" class="btn btn-default" >Поништи</button>
											<button type="submit" class="btn btn-primary" >Потврди</button>
										</div>
									</div>
								</fieldset>
								</form>
								
								
								<div class="radio">
									<label>
										<input ng-click="view = 3" type="radio" name="optionsRadios"> Промена предмета
									</label>
								</div>
								<form class="form-horizontal" ng-show="view === 3" >
								<fieldset>
									<!-- zasto asistent sam menja svoje prdmete? -->
									<div class="form-group">
										<div class="col-lg-10 col-lg-offset-2">
										<label> Promena predmeta </label>
											<button type="reset" class="btn btn-default">Поништи</button>
											<button type="submit" class="btn btn-primary">Потврди</button>
										</div>
									</div>
								</fieldset>
								</form>

						</div>
	      		</fieldset>
	      		</form>
					</div> <!-- div forma dezurstva -->
				</div> <!-- div podesavanje naloga -->
				
				
				<!-- div sa porukama -->
				<div ng-show="tab === 5">
					<div class="forme_dezurstava" >
						<p class="imenaFormi"> Табеле обавештења </p>
							<table class="table table-striped table-bordered table-hover" ng-controller="UserOfferController">
								<caption>  </caption>
									<tr class="bold">
										<td width="70%"> Порукe </td> <td width="30%"> Опције</td>
									</tr>
									<tr ng-repeat="ponuda in offer">
										<td><a>{{ponuda.assistant}}</a> је понудио/ла дежурство за {{ponuda.date}}., {{ponuda.time}}<br/>({{ponuda.course}})</td>	
										<td><button type="submit" class="btn btn-primary btn-sm">Прихвати</button>
												<button type="submit" class="btn btn-warning btn-sm" title="Биће послатa порука асистенту">Извињење</button></td>
									</tr>
												
							</table>
							<br /> <br /> <br /> <br />
							<table class="table table-striped table-bordered table-hover" ng-controller="CommentsController">
								<caption>  </caption>
									<tr class="bold">
									<td width="7%"></td> <td width="93%"> Коментари </td>
									</tr>
									<tr ng-repeat="komentar in comments">
										<td> <input type="checkbox" title="Обележи као прочитано" ></td>
										<td>{{komentar.comment}}<footer class="text-info">Kоментар оставио/ла: {{komentar.assistant}}, {{komentar.course}}, датум: {{komentar.date}}</footer></td>	
									</tr>
												
							</table>
	  			</div>
				</div> <!-- div sa porukama -->
				
			</div> <!-- div main-conteiner -->	
		</div> <!-- div content -->	
	</body>
</html>
