<!DOCTYPE html>
<html lang="sr" ng-app="Application">
	<head>
		<title> МАТФ Дежурства</title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8;" />
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript" src="js/controllers.js"></script>
		<script type="text/javascript" src="js/directives.js"></script>

		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/me.css"> 
	</head>
	
	<body>
	<div id="content">
		<div id="tab-container">	
			<section ng-init="tab = 1 ">
				<ul class="nav nav-pills nav-stacked">
					<li ng-class="{ active:tab === 1}" > <a href ng-click="tab = 1">Распоред обавеза</a></li>
					<li ng-class="{ active:tab === 2}" > <a href ng-click="tab = 2">Заузетост асистената</a></li>
				</ul>
			</section>
		</div>
		
		<div id="main-container">
			<div id="top" > 
					<button class="btn btn-primary" type="button"> Пријављивање </button>
			</div>
			<div class="forme_dezurstava" ng-show="tab ===1">
				<table class="table table-striped" ng-controller="AppointmentsController">
					<tr class="bold">
						<td>Датум</td><td>Време</td><td>Резервисане учионице</td><td>Курс</td><td>Oпис</td><td>Главни дежурни</td>
					</tr>
					<tr ng-repeat="row in tableOfDuty">
						<td>{{row.date}}</td><td>{{row.time}}</td><td ng-repeat="c in row.classrooms">{{c}} </td><td>{{row.course}}</td><td>{{row.desc}}</td><td>{{row.assistant}}</td>
					</tr>
				</table>
			</div>
			
			<div class="forme_dezurstava" ng-show="tab===2" ng-controller="HoursOnCallController">
				<table class="table table-striped">
					<tr class="bold">
						<td>Aсистент</td><td>Број сати дежурства</td>
					</tr>
					<tr ng-repeat="row in totalHoursOfDuty | orderBy: 'hours'">
						<td><a href="" ng-click="showAsTable($index)">{{row.assistant}}</a></td><td>{{row.hours}}</td>
					</tr>
				</table>
				
				<!-- tabela za asistenta koja se prikazuje klikom na asistenta(sve njegove obaveze) -->
				
				<div class="loginform" ng-show="asTableVisible">
					<div class="login">
					
						<div class="logintop">
							<div class="loginclose">
							<button type="button" name="closeTableButoon" class="close" data-dismiss="modal" aria-hidden="true" ng-click="setVisible(false)">x</button>
							</div>
						</div>
						
						<div class="loginbody">
							<p class="tableName"> {{tableName}} </p>
							<table class="table table-bordered">
								<tr class="bold">
									<td>Датум</td><td>Време</td><td>Обавеза</td>
								</tr>
								<tr ng-repeat="row in asTable | orderBy: 'date'" class="duty-{{returnDutyTime($index)}}">
									<td>{{row.date}}</td><td>{{row.time}}</td><td>{{row.typeOfDuty}}</td>
								</tr>
							</table>
						</div> <!-- loginbody -->
					</div> <!-- login -->
				</div>  <!-- loginform -->
				
				<!-- -->
				
			</div> <!--forma dezusrstva tab 2 -->
			
			
		</div>
	</div>
	</body>
</html>
