<!DOCTYPE html>
<html lang="sr" ng-app="accountModule">
	<head>
		<title> MАТФ Дежурства </title>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8;" />

		<script type="text/javascript" src="js/jquery-1.11.2.min.js"> </script>
		<script type="text/javascript" src="js/angular.min.js"></script>
		<script type="text/javascript" src="js/angular.js"></script>
		<script type='text/javascript' src='js/angular-route.min.js'> </script>
		<script type="text/javascript" src="js/bootstrap.min.js"></script>
		
		<script type="text/javascript" src="js/assistant.js"></script>
		
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/me.css">
	</head>
	
	<body>
	<div id="content">
		<div id="tab-container">
			<section ng-init="tab = 1">
				<ul class="nav nav-pills nav-stacked">
					<li ng-class="{ active:tab === 1}" > <a href ng-click="tab = 1">Пристигле обавезе</a></li>
					<li ng-class="{ active:tab === 2}" > <a href ng-click="tab = 2">Најављивање обавеза</a></li>
					<li ng-class="{ active:tab === 3}" > <a href ng-click="tab = 3">Заказане обавезе</a></li>
					<li ng-class="{ active:tab === 4}" > <a href ng-click="tab = 4">Преглед рада асистената</a></li>
				</ul>
			</section>
		</div>
		
		<div id="main-container">
			<div id="top" >
			<!--	<button class="btn btn-primary" type="button" ng-click="tab = 5">
					Обавештења <span class="badge"></span>
				</button>
					-->
				<div id="log_out">
					<a href="" id="imeIprezime" >Име и презиме</a>
					<button class="btn btn-primary" type="button" > Одјава </button>
				</div>
			</div> <!-- top div -->
			
			<!-- tab pristigle obaveze -->
			<div ng-show="tab === 1">	
				<div class="forme_dezurstava" ng-controller="SecDutyController">
						<p class="imenaFormi"> Обрада обавеза </p>

						<form class="form-horizontal">
	      		<fieldset>
							<div class="form-group">
								<label for="selectSmer" class="col-lg-3 control-label">Сортирај обавезе по:</label>
								<div class="col-lg-4">
									<select class="form-control" ng-change="setSort(order)" ng-model="order">
										<option value='1'> Датуму </option>
										<option value='2'> Редоследу пристизања </option>
									</select>
								</div>
								{{orderByDate}}
							</div>
						</fieldset>
						</form>	<br/>

						<div class="kartica" ng-repeat="dezurstvo in duty">
							<div class = "header" >
								<span> <b> Нова обавеза </b></span> 
							
							</div>
							<div class = "bodyCard">
								<span> Датум: {{dezurstvo.date }}, {{dezurstvo.time}} </span> <br/>
								<span> Курс: {{dezurstvo.classroom}} </span> <br/>
								<span> Обавезу пријавио:</span> <br/> <br/>
								<button class="btn btn-primary" type="submit" > Обради </button>
							</div> 
						</div>   <!-- div kartica -->

					</div> <!-- forme dezurstva -->
				</div> <!-- tab pristigle obaveze -->
			
			<div ng-show="tab === 2">
					<div class="forme_dezurstava" ng-controller="NewDutyController">
						<p class="imenaFormi"> Заказивање обавезa</p>
				
						<form name="fZakazivanje" class="form-horizontal">
	      		<fieldset>
	

						<div class="form-group">
							<label for="selectSmer" class="col-lg-2 control-label">Група/Смер</label>
							<div class="col-lg-10">
								<select class="form-control" ng-model="smer" ng-required="true">
									<option ng-repeat="smer in departure"> {{smer}} </option>
								</select>
							</div>
						</div>


						<div class="form-group" >
							<label for="selectPredmet" class="col-lg-2 control-label">Предмет</label>
							<div class="col-lg-10">
								<select class="form-control" ng-model="predmet" ng-required="true">
									<option ng-repeat="predmet in course"> {{predmet}} </option>
								</select>
							</div>
						</div>
						
						
						<div class="form-group">
							<label for="selectDatum" class="col-lg-2 control-label">Датум одржавања</label>
							<div class="col-lg-10">								
								<div class='input-group date' id='selectDatum'>
									<input type='text' class="form-control" data-date-format="YYYY/MM/DD" placeholder="Датум" ng-model="datum" ng-required="true" >
									<span class="input-group-addon">
										<span class="glyphicon glyphicon-calendar"></span>
									</span>
								</div>
							</div>
						</div>
						
						
						<div class="form-group">
							<label for="timepicker1" class="col-lg-2 control-label">Време(од-до)</label>							
							<div class='col-lg-5'>
              	  <div class='input-group date' id='timepicker1'>
                    <input type='text' class="form-control" ng-model="vremeOd" placeholder="Од" ng-required="true">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span>
                    </span>
           	 			</div>
        			</div> 
        			<div class='col-lg-5'>
              	  <div class='input-group date' id='timepicker2'>
                    <input type='text' class="form-control" ng-model="vremeDo" placeholder="До" ng-required="true">
                    <span class="input-group-addon"><span class="glyphicon glyphicon-time"></span>
                    </span>
           	 			</div>
        			</div>
						</div>
						
						
						<div class="form-group">
							<label  class="col-lg-2 control-label">Потребне учионице</label>
							<div class="col-lg-10">
								<label class="checkbox-inline" ng-repeat="ucionica in classrooms">
									<input type="checkbox" ng-change="sync(bool, ucionica, 'c')" ng-model="bool" ng-checked="isChecked(ucionica, 'c')"> {{ucionica}}
								</label>
							</div>
						</div>
						
						
						<div class="form-group">
							<label  class="col-lg-2 control-label">Број студената</label>
							<div class="col-lg-10">
		    				<input type="text" class="form-control" name="brStudenata" ng-model="brStudenata" placeholder="Очекивани број студената" ng-required="true" ng-pattern="/^[0-9]+$/">
		  				</div>
						</div>
						
						
						<div class="form-group">
							<label  class="col-lg-2 control-label">Број асистената</label>
							<div class="col-lg-10">
		    				<input type="text" class="form-control" name="brAsistenata" ng-model="brAsistenata" placeholder="Број потребних асистената" ng-required="true" ng-pattern="/^[0-9]+$/">
		  				</div>
						</div>
						
						<div class="form-group">
							<label for="selectSmer" class="col-lg-2 control-label">Додај асистента:</label>
							<div class="col-lg-10">
								<select class="form-control" ng-change="addAssistant(asistent)" ng-model="asistent">
									<option ng-repeat="asistent in assistants" >{{asistent}}</option>
								</select>
							</div>
						</div>
				
						<div class="form-group">
							<label for="selectSmer" class="col-lg-2 control-label">Изабрани асистенти:</label>
							<div class="col-lg-10" ng-repeat="a in selectedAssistant">
									<span ng-model="a"> {{a}} </span>
									<a title="Избриши" href="" ng-click="removeAssistant($index)"><span class="glyphicon glyphicon-minus"></span></a>
							</div>
						</div>
						<div class="form-group">
		  				<div class="col-lg-10 col-lg-offset-2">
		    				<input type="reset" class="btn btn-default" value="Поништи" >
		    				<input type="submit" class="btn btn-primary" value="Пошаљи" ng-disabled="!fZakazivanje.$valid">
		  				</div>
						</div>
					  </fieldset>
				    </form>
						
					</div> <!-- div forma dezurstava -->
				</div> <!-- div najavljivanje obaveza -->
			
			
		</div> <!-- main-container -->
	</body>
</html>
