<!--
raspored zakazanih obaveza
  tabela sa kolonama datum, vreme, rezervisane ucionice, opis obaveze, ime glavnog dezurnog
  sortirana po datumu rastuce (prikazivati samo buduce obaveze)
  npr. pogledati https://godo.matf.bg.ac.rs/preview/
-->

<!--  
  TODO: select kontrola za odabir godine i prikaz po toj godini
-->

<div ng-controller="rasporedControler">
  <div class="forme_dezurstava">
  
    <p class="imenaFormi">Распоред заказаних обавеза</p>
    
    <!-- poruka o uspesnosti -->
    <div class="alert alert-dismissable alert-success" ng-show="success()">
      <button type="button" class="close" data-dismiss="alert" ng-click="successSet(false)">×</button>
      <strong>Успешна промена!</strong> {{msg}}
    </div>
  
    <!-- poruka o gresci -->
    <div class="alert alert-dismissable alert-danger" ng-show="error()">
      <button type="button" class="close" data-dismiss="alert" ng-click="errorSet(false)">×</button>
      <strong>Грешка!</strong> Дошло је до грешке. Молимо вас покушајте поново са променом.
    </div>
    
    
    <form class="form-horizontal">
      <fieldset>
	<!-- select kontrola za odabir godine za raspored -->
	<div class="form-group">
	  <label class="col-lg-2 control-label">Школска година</label>
	  <div class="col-lg-4">
	    <select class="form-control" name="izabranaGodina" ng-model="rasporedObaveza.izabranaGodina" ng-click="filtrirajRaspored(); nedeljeUMesecu();">
	      <option ng-repeat="g in godine"> {{ g }} </option> -->
	      <!-- TODO: godine za koje postoji unos u ng-repeat -->
	      <!-- podrazumevana godina je trenutna! -->
	    </select>
	  </div>
	  <div class="col-lg-6"></div>
	</div>
    
    
	<!-- select kontrola za odabir meseca za raspored -->
	<div class="form-group">
	  <label class="col-lg-2 control-label">Месец</label>
	  <div class="col-lg-4">
	    <select class="form-control" name="izabraniMesec" ng-model="rasporedObaveza.izabraniMesec" ng-click="filtrirajRaspored(); nedeljeUMesecu();">
	      <option ng-repeat="m in meseci" ng-selected="$index == trenutniMesec()">{{ m }}</option>
	    </select>
	  </div>
	  <div class="col-lg-6"></div>
	</div>
    
    
	<!-- select kontrola za odabir nedelje za raspored -->
	<div class="form-group">
	  <label class="col-lg-2 control-label">Недеља</label>
	  <div class="col-lg-4 ">
	    <select class="form-control" name="izabranaNedelja" ng-model="rasporedObaveza.izabranaNedelja" ng-click="filtrirajRaspored()">
	      <option ng-repeat="n in nedelje"> {{ n }} </option> -->
	      <!-- TODO: godine za koje postoji unos u ng-repeat -->
	      <!-- podrazumevana godina je trenutna! -->
	    </select>
	  </div>
	  <div class="col-lg-6"></div>
	</div>
	
	<!-- mogucnost filtriranja rasporeda po danima u nedelji -->
	<div class="form-group">
	  <div class="col-lg-4 col-lg-offset-2">
	    <label class="checkbox-inline">
	      <input type="checkbox" ng-click="prikazPoDanima=!prikazPoDanima" > Приказ по данима у недељи
	    </label>
	  </div>
	  <div class="col-lg-6"></div>
	</div>
	
      </fieldset>
    </form>
    
    
    <div ng-show="prikazPoDanima">
      <ul class="nav nav-tabs">
	<li ng-class="{active: trenutniDan() === 1}"><a href="" ng-click="izabranDan=1" data-toggle="tab">Понедељак</a></li>
	<li ng-class="{active: trenutniDan() === 2}"><a href="" ng-click="izabranDan=2" data-toggle="tab">Утокар</a></li>
	<li ng-class="{active: trenutniDan() === 3}"><a href="" ng-click="izabranDan=3" data-toggle="tab">Среда</a></li>
	<li ng-class="{active: trenutniDan() === 4}"><a href="" ng-click="izabranDan=4" data-toggle="tab">Четвртак</a></li>
	<li ng-class="{active: trenutniDan() === 5}"><a href="" ng-click="izabranDan=5" data-toggle="tab">Петак</a></li>
	<li ng-class="{active: trenutniDan() === 6}"><a href="" ng-click="izabranDan=6" data-toggle="tab">Субота</a></li>
	<li ng-class="{active: trenutniDan() === 0}"><a href="" ng-click="izabranDan=0" data-toggle="tab">Недеља</a></li>
      </ul>
    </div>

    <div class="tab-content">
    <div class="tab-pane fade active in" id="home">
    <div class="table-responsive"> 
      <table class="table table-striped table-hover">
        <thead ng-init="sort='datum'; reverse=false">
	  <tr>
            <th ng-click="sort='datum'; reverse=!reverse" title="Кликните за сортирање по датуму.">Датум</th>
            <th ng-click="sort='vreme'; reverse=!reverse" title="Кликните за сортирање по времену.">Време</th>
            <th ng-click="sort='ucionice'; reverse=!reverse" title="Кликните за сортирање по резервисаним учионицама.">Резервисане учионице</th>
            <th ng-click="sort='opis'; reverse=!reverse" title="Кликните за сортирање по обавезама.">Опис обавезе</th>
            <th ng-click="sort='glavni_dezurni'; reverse=!reverse" title="Кликните за сортирање по главном дежурном.">Главни дежурни</th>
            <th ng-show="loged() && koord()">Опције</th> <!-- loged(), koord() -> index.js indexControler;  -->
	  </tr>
	</thead>
	<tbody>
	  <!-- kada nije ukljucen prikaz po danima -->
	  <tr ng-show="!prikazPoDanima" ng-repeat="aktivnost in raspored | orderBy:sort:reverse" ng-class="{info: isNedelja(aktivnost.datum), bold: isNedelja(aktivnost.datum)}" title="{{isNedelja(aktivnost.datum) ? 'Изабран датум је недеља!' : ''}}">
	    <td>{{ aktivnost.datum }}</td>
            <td>{{ aktivnost.vreme }}</td>
            <td>{{ aktivnost.ucionice }}</td>
            <td>{{ aktivnost.opis }}</td>
            <td>{{ aktivnost.glavni_dezurni }}</td>
            <td ng-show="loged() && koord()"><button type="submit" class="btn btn-primary btn-sm" name="submit" ng-show="aktivanRaspored(aktivnost.datum)" ng-click="otkaziObavezu(aktivnost.id)"> Откажи обавезу </button></td>
	  </tr>
	  
	  <!-- kada je ukljucen prikaz po danima -->
	  <tr ng-show="prikazPoDanima" ng-repeat="aktivnost in raspored | filterRaspored: this | orderBy:sort:reverse" ng-class="{info: isNedelja(aktivnost.datum), bold: isNedelja(aktivnost.datum)}" title="{{isNedelja(aktivnost.datum) ? 'Изабран датум је недеља!' : ''}}"> 
	    <td>{{ aktivnost.datum }}</td>
            <td>{{ aktivnost.vreme }}</td>
            <td>{{ aktivnost.ucionice }}</td>
            <td>{{ aktivnost.opis }}</td>
            <td>{{ aktivnost.glavni_dezurni }}</td>
            <td ng-show="loged() && koord()"><button type="submit" class="btn btn-primary btn-sm" name="submit" ng-show="aktivanRaspored(aktivnost.datum)" ng-click="otkaziObavezu(aktivnost.id)"> Откажи обавезу </button></td>
	  </tr>
	</tbody>
      </table>
    </div>
    
    </div>
    </div>
    
  </div> <!-- forme_dezurstava -->
</div>