<!-- tab za dodavanje novog korisnika:
  formular koji sadrzi sledece podatke
    korisnicko ime: jednoredno tekstualno polje
    ime i prezime: jednoredno tekstualno polje
    glavna email adresa: jednoredno tekstualno polje
    telefon: jednoredno tekstualno polje
    sifra: jednoredno tekstualno polje
    polje za potvrdu sifre: jednoredno tekstualno polje
    mod:
      serija checkbox dugmica sa vrednostima dezurni asistent, koordinator i administrator

    katedra:
      lista sa imenima katedara
      lista je dostupna na: http://www.matf.bg.ac.rs/m/93/katedre/
    status:
      serija radio dugmica sa vrednostima aktivan i neaktivan

    koeficijent angazovanja:
      procenat angazovanosti asistenta (npr 30%, 50 %, 100%)

    napomena: viseredno tekstualno polje

    dugme za potvrdu unosa
    dugme za reset unosa
-->

<div ng-controller="newUserControler">
  <div class="forme_dezurstava">
    
    <p class="imenaFormi"> Додавање новог корисника</p>

     <!-- poruka o uspesnosti -->
    <div class="alert alert-dismissable alert-success" ng-show="success()">
      <button type="button" class="close" data-dismiss="alert" ng-click="successSet(false)">×</button>
      <strong>Успешна промена!</strong> {{msg}}
    </div>
  
    <!-- poruka o gresci -->
    <div class="alert alert-dismissable alert-danger" ng-show="error()">
      <button type="button" class="close" data-dismiss="alert" ng-click="errorSet(false)">×</button>
      <strong>Грешка!</strong> Дошло је до грешке. Молимо вас покушајте поново са променом.
    </div>
    
    <form class="form-horizontal" name="formnewuser">
      <fieldset>
	<!-- <legend>Legend</legend> -->
	
	<div class="form-group">
	  <label class="col-lg-2 control-label">Корисничко име</label>
	  <div class="col-lg-10">
	    <input type="text" class="form-control" name="inputKorisnickoIme" ng-model="formData.korisnickoIme" placeholder="Корисничко име" ng-required="true">
	  </div>
	</div>
	
	<div class="form-group">
	  <label class="col-lg-2 control-label">Име и презиме</label>
	  <div class="col-lg-10">
	    <input type="text" class="form-control" name="inputImePrezime" ng-model="formData.imePrezime" placeholder="Име и презиме" ng-required="true">
	  </div>
	</div>
	
	<div class="form-group">
	  <label class="col-lg-2 control-label">Mејл адреса</label>
	  <div class="col-lg-10">
	    <input type="email" class="form-control" name="inputEmailG" ng-model="formData.email" placeholder="Мејл адреса" ng-reguired="true">
	  </div>
	</div>
	
	<div class="form-group">
	  <label class="col-lg-2 control-label">Телефон</label>
	  <div class="col-lg-10">
	    <input type="number" class="form-control" name="inputTelefon" ng-model="formData.telefon" placeholder="Телефон" ng-reguired="true">
	  </div>
	</div>

	<div class="form-group">
	  <label class="col-lg-2 control-label">Шифра</label>
	  <div class="col-lg-10">
	    <input type="text" class="form-control" name="inputSifra" ng-model="formData.sifra" placeholder="Шифра" ng-required="true">
	  </div>
	</div>
	
	<div class="form-group">
	  <label class="col-lg-2 control-label">Потврди шифру</label>
	  <div class="col-lg-10">
	    <input type="text" class="form-control" name="inputSifraPotvrda" ng-model="formData.sifraPotvrda" placeholder="Потврди шифру" ng-required="true">
	  </div>
	</div>
	
	<div class="form-group">
	  <label class="col-lg-2 control-label">Мод</label>  
	  <div class="col-lg-10">
	    <label class="checkbox-inline">
	      <input type="checkbox" ng-model="formData.dezurniAsistent" value="asistent" ng-checked="true"> Дежурни асистент
	    </label>
	    <label class="checkbox-inline">
	      <input type="checkbox" ng-model="formData.koordinator" value="koordinator"> Координатор
	    </label>
	    <label class="checkbox-inline">
	      <input type="checkbox" ng-model="formData.administrator" value="administrator"> Администратор
	    </label>
	  </div>
	</div>
	
	<div class="form-group">
	  <label class="col-lg-2 control-label">Катедра</label>
	  <div class="col-lg-10">
	    <select class="form-control" name="katedre" ng-model="formData.kat" required>
	      <option ng-repeat="katedra in katedre" ng-model="formData.k" name="katedra"> {{ katedra }} </option>
	    </select>
	  </div>
	</div>
	
	<div class="form-group">
	  <label class="col-lg-2 control-label">Статус</label>
	  <div class="col-lg-10">
	    <div class="radio">
	      <label>
		<input type="radio" name="status" value="aktivan" ng-model="formData.status" ng-checked="true">
		Активан
	      </label>
	      <label>
		<input type="radio" name="status" value="neaktivan" ng-model="formData.status">
		Неактиван
	      </label>
	    </div>  
	  </div>
	</div>

	<div class="form-group">
	  <label class="col-lg-2 control-label">Коефицијент ангажовања</label>
	  <div class="col-lg-10">
	    <input type="number" min="0" max="100" class="form-control" name="inputKoeficijent" ng-model="formData.koeficijent" placeholder="Коефицијент ангажовања 0-100%" ng-required="true">
	  </div>
	</div>

	<div class="form-group">
	  <label class="col-lg-2 control-label">Напоменa</label>
	  <div class="col-lg-10">
	    <textarea class="form-control" rows="3" name="inputNapomena" ng-model="formData.napomena"></textarea>
	    <span class="help-block">Напомена за новог корисника.</span>
	  </div>
	</div>

	<div class="form-group">
	  <div class="col-lg-10 col-lg-offset-2">
	    <button type="reset" class="btn btn-default" ng-click="resetData()" name="reset">Поништи</button>
	    <button type="submit" class="btn btn-primary" ng-disabled="formnewuser.$invalid" ng-click="submitData()" name="submit">Пошаљи</button>
	  </div>
	</div>
      </fieldset>
    </form>
    
  </div> <!-- forme dezurstva -->
</div>