<!--
raspored zakazanih obaveza
  tabela sa kolonama datum, vreme, rezervisane ucionice, ime kursa, ime glavnog dezurnog
  sortirana po datumu rastuce (prikazivati samo buduce obaveze)
  npr. pogledati https://godo.matf.bg.ac.rs/preview/
-->

<div ng-controller="rasporedControler">
  <div class="forme_dezurstava">
  
    <p class="imenaFormi">Распоред заказаних обавеза</p>
    
    <div class="table-responsive"> 
      <table class="table table-striped table-hover">
        <thead ng-init="sort='datum'; reverse=false">
	  <tr>
            <th ng-click="sort='datum'; reverse=!reverse">Датум</th>
            <th ng-click="sort='vreme'; reverse=!reverse">Време</th>
            <th ng-click="sort='ucionice'; reverse=!reverse">Учионице</th>
            <th ng-click="sort='kurs'; reverse=!reverse">Име курса</th>
            <th ng-click="sort='glavni_dezurni'; reverse=!reverse">Главни дежурни</th>
	  </tr>
	</thead>
	<tbody>
	  <tr ng-class="{active: hover}" ng-mouseenter="hover=true" ng-mouseleave="hover=false" ng-repeat="aktivnost in raspored | orderBy:sort:reverse"> <!-- TODO: prikazivati samo buduce obaveze -->
	    <td>{{ aktivnost.datum }}</td>
            <td>{{ aktivnost.vreme }}</td>
            <td>{{ aktivnost.ucionice }}</td>
            <td>{{ aktivnost.kurs }}</td>
            <td>{{ aktivnost.glavni_dezurni }}</td>
	  </tr>
	</tbody>
      </table>
    </div>
    
  </div> <!-- forme_dezurstava -->
</div>